.typography {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-size: 14px;
  color: #0d3b61;
  font-weight: lighter;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.a,
.b,
.c {
  height: 100px;
  width: 100px;
  background-color: rgb(125, 7, 236);
  color: #fff;
}

.a {
  transform: rotate(40deg);
}

/* .a {
  transform: rotateX(200deg);
} */

/* .a {
  transform: rotateY(140deg);
} */

.b {
  transform: skewY(20deg);
}

.c {
  transform: scaleY(1.5);
}

.textdec {
  text-decoration: underline; /*underline,line-through*/
  text-transform: capitalize;
}

.shadow {
  text-shadow: 2px 2px 2px rgb(28, 1, 1); /* x y blur color*/
}

.indent {
  text-indent: 20px;
}
.boxshadow {
  height: 200px;
  width: 200px;
  box-shadow: 2px 2px 5px red; /*x y blur color*/
}
